@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="glass">
    @RenderBody()
</div>


@if (IsSectionDefined("scripts"))
{
    @section scripts
    {
        @RenderSection("scripts")
    }
}
