body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#name {
    display: none;
}
.snowcanvas {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    display: none;
    
}

.glass {
    padding: 0px;
  margin-bottom: 30px;
  color: #fff;
    background-color: #043b5a;
    background-color: rgba(4, 59, 90, 0.3); /*#eeeeee33;*/  
}

.glass a {
  color: #4cff00;
}

/* Set padding to keep content from hitting the edges */
.body-content {

}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}